:root{
	--buttonColor: #2a0c4e;
	--buttonColorFade: #ab70be;
	--fontColor: whitesmoke;
}

*{
    font-family: Arial, Helvetica, sans-serif;
	background-color: whitesmoke;
	color: #374b4a;
}

h1{
	justify-content: center;
	align-items: center;
	
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: whitesmoke;
}
button {
	background-color: var(--buttonColor);
	color: var(--fontColor);
	border-radius: 15px;
	font-size: 24px;
	margin: 5px;
	transition-duration: .3s;
	border: 2px solid var(--buttonColor);
}

button:hover{
	color: var(--fontColor);
	background-color: var(--buttonColorFade);
	border-color: var(--buttonColorFade);
	cursor: pointer;
}

input {
	background-color: whitesmoke;
	color: #374b4a;
	border-radius: 15px;
	font-size: 1.25rem;
}

label{
	font-weight: bold;
	color: #374b4a;
	font-size: 1.25;
}

li{
	font-size: 1.5rem;
	list-style-type: none;
}

#timer {
	font-size: 2rem;
}